$color-bg_navi: #eee;
$color-bg_navi_title: #fff;
$color-bg_content: rgb(255, 255, 255);
$color-bg: #fff;
$color-concept: #ea8686;

$color-green: #73bea8;
$color-dark_green: #539e88;

$color-pink: #ea8686;

$color-link: rgb(64, 131, 166);
