@import "colors";
@import "reset";
@import "bourbon";
@import "oo";

.Wrapper {
}

.Bg01 {
    width: 100%;
    height: 1120px;
    position: fixed;
    background: url("../images/bg_okinawa_01.jpg") no-repeat center top;
    z-index: -1;
    top: -400px;
}

.Bg02 {
    width: 100%;
    height: 100%;
    position: fixed;
    @include retina-image("../images/bg_ripple_01", 340px 490px);
    background-color: #1f2a68;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10000;
    -moz-transition: opacity 2s linear;
    -webkit-transition: opacity 2s linear;
    -ms-transition: opacity 2s linear;
    opacity: 1;

    &.ripple {
        opacity: 0;   
    }
}

.Header {
    padding: 8px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;

    &.scroll {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

        li a {
            color: #1f2a68;
        }
    }

    &__sns {
        position: absolute;
        top: 2px;
        left: 15px;
    }

    &__menu {
        display: none;
    }

    &__nav {
        text-align: center;
        display: block !important;
        li {
            margin: 0 10px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;

            a {
                color: #fff;
            }
        }
    }
}

.TopLink2 {
    display: none !important;
}

.Sns {
    &__facebook {
        float: left;
    }
    &__twitter {
        float: left;
        padding-top: 10px;
        margin-left: 15px;
    }
}

.Top {
    @include retina-image("../images/img_top_01", 290px 700px);
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;

    &__container {
        @include retina-image("../images/img_top_02", 350px 700px);
        background-repeat: no-repeat;
        background-position: left top;
        padding: 140px 0 35px;
    }
    
    &__logo {
        @include retina-image("../images/txt_logo_01", 300px 170px);
        overflow: hidden;
        text-indent: -9999px;
        width: 300px;
        height: 170px;
        margin: 0 auto;
    }
    &__txt01 {
        @include retina-image("../images/txt_top_01", 500px 70px);
        overflow: hidden;
        text-indent: -9999px;
        width: 500px;
        height: 70px;
        margin: 30px auto 80px;
    }
    &__txt02 {
        @include retina-image("../images/txt_top_02", 540px 90px);
        overflow: hidden;
        text-indent: -9999px;
        width: 540px;
        height: 90px;
        margin: 0 auto;
    }
    &__plane {
        background: url("../images/icn_plane_01.png") no-repeat left top;
        width: 140px;
        height: 54px;
        position: absolute;
        top: 50px;
        right: 260px;
    }
    &__scroll {
        text-align: center;
        background: url("../images/icn_scroll_01.png") no-repeat center bottom;
        padding-bottom: 16px;
        margin-top: 37px;

        a {
            color: #fff;
        }
    }
}

.MainImg {
    display: none;
}

.Bnr {
    text-align: center;
    padding: 40px 0 0;
    background-color: #fff;

    &__kenpo {
        width: 620px;
    }
}

.Production {
    background-color: #fff;
    padding: 40px 40px 0;
    text-align: center;

    &__info {
        font-size: 12px;
    }

    &__facebook {
        display: inline-block;
        @include retina-image("../images/icn_fb_01", 30px 30px);
        background-repeat: no-repeat;
        background-position: left top;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 20px 5px;

        a {
            display: block;
            height: 100%;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__twitter {
        display: inline-block;
        @include retina-image("../images/icn_tw_01", 30px 30px);
        background-repeat: no-repeat;
        background-position: left top;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 20px 5px;

        a {
            display: block;
            height: 100%;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__hall {
    }

    &__hallTitle {
        display: inline-block;
        margin: 0 5px;
    }

    &__hallName {
        display: inline-block;
        margin: 0 5px;
        background: url("../images/icn_arrow_01.png") no-repeat left center;
        padding-left: 12px;
    }

    &__maeuri {
        display: none;    
    }
}

.Description {
    background-color: #fff;
    padding-top: 40px;

    &__container {
        background: url("../images/bg_okinawa_02.jpg") no-repeat right top;
        background-size: 50%;
        margin: 0 auto;
    }
    &__inner {
        width: 440px;
        margin: 0 auto;
        padding-right: 500px;
        padding-bottom: 100px;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    &__txt00 {
        @include retina-image("../images/txt_info_01", 335px 75px);
        width: 335px;
        height: 75px;
        text-indent: -9999px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__txt01 {
        font-weight: bold;
        text-align: justify;
    }

    &__txt02 {
        font-size: 14px;
        text-align: justify;
    }
}

.Urizun {
    background: url("../images/bg_urizun_01.jpg") no-repeat center center;
    padding: 100px 0;

    &__container {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 60px;
        width: 500px;
        margin: 0 auto;
        color: #fff;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    &__haiku {
        font-weight: bold;
        text-align: center;
        padding: 40px 0 20px;
    }

    &__haikuSp {
        display: none;
    }

    &__desc {
        text-align: justify;
    }
}

.Story {
    background-color: #fff;
    padding: 100px 0;

    &__container {
        width: 940px;
        margin: 0 auto;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
    }

    &__subTitle {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 100px;
    }

    &__first {
        @include retina-image("../images/img_story_01", 460px 380px, "jpg");
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 520px;
        height: 420px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__second {
        @include retina-image("../images/img_story_02", 460px 380px, "jpg");
        background-repeat: no-repeat;
        background-position: left top;
        padding-left: 520px;
        height: 420px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__third {
        @include retina-image("../images/img_story_03", 460px 380px, "jpg");
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 520px;
        height: 420px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__fourth {
        @include retina-image("../images/img_story_04", 460px 380px, "jpg");
        background-repeat: no-repeat;
        background-position: left top;
        padding-left: 520px;
        height: 420px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__description {
        font-size: 14px;
    }

    &__author {
        @include retina-image("../images/img_story_05", 160px 160px, "jpg");
        border: 1px solid #ccc;
        padding: 40px 40px 40px 240px;
        background-position: 40px 40px;
        background-repeat: no-repeat;
        margin-top: 30px;

        dt {
            color: #444;
            font-weight: bold;
        }
        dd {
            color: #444;
            font-size: 12px;
        }
    }

    &__authorNameSp {
        display: none;
    }
}

.Message {
    padding: 100px 0;

    &__container {
        background-color: #fff;
        padding: 60px;
        width: 820px;
        margin: 0 auto;
    }
    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    &__txt {
        font-size: 14px;
        text-align: justify;
    }
    &__name {
        font-size: 14px;
        text-align: right;
    }
    &__sns {
        display: none;
    }

    &__author {
        @include retina-image("../images/img_message_03", 160px 160px, "jpg");
        border: 1px solid #ccc;
        padding: 40px 40px 40px 240px;
        background-position: 40px 40px;
        background-repeat: no-repeat;
        margin-top: 30px;

        dt {
            color: #444;
            font-weight: bold;
        }
        dd {
            color: #444;
            font-size: 12px;
        }
    }
}

.Theater {
    background: url("../images/bg_okinawa_01.jpg") no-repeat center -630px;
    
    &__title {
        font-size: 30px;
        font-weight: bold;
        padding-top: 170px;
        color: #fff;
        text-align: center;
    }
    &__subTitle {
        color: #fff;
        text-align: center;
        padding-bottom: 160px;
    }
    &__whiteArea {
        background-color: #fff;
        padding: 60px 0;
    }
    &__table {
        width: 940px;
        margin: 0 auto;
        border: 1px solid #1e2a69;

        th {
            background-color: #ccc;
            font-size: 12px;
            height: 40px;
            vertical-align: middle;
            border: 1px solid #1e2a69;
        }
        td {
            font-size: 14px;
            color: #1e2a69;
            height: 60px;
            vertical-align: middle;
            border: 1px solid #1e2a69;
            padding: 0 20px;

            &.phone {
                @include retina-image("../images/icn_phone_01", 16px 16px, "png");
                background-position: 20px center;
                background-repeat: no-repeat;
                padding-left: 46px;
            }
            a {
                font-weight: bold;
            }
        }
    }
}

.TheaterSp {
    display: none;
}

.Movie {
    background: url("../images/bg_okinawa_01.jpg") no-repeat center -650px;
    
    &__title {
        font-size: 30px;
        font-weight: bold;
        padding-top: 170px;
        padding-bottom: 170px;
        color: #fff;
        text-align: center;
    }
    &__whiteArea {
        background-color: #fff;
        padding: 60px 0;
        min-height: 400px;
    }
    &__iframe {
        margin: 0 auto;
        display: block;
        width: 60vw;
        height: 45vw;
    }
}

.Footer {
    &__copyright {
        font-size: 10px;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        background-color: #1f2a68;
    }
}
