@import "colors";
@import "reset";
@import "bourbon";
@import "oo";

.Wrapper {
}

.Header {
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    &__sns {
        background-color: #fff;
        padding: 0 10px 10px;
    }

    &__menu {
        top: 13px;
        right: 14px;
        width: 26px;
        height: 18px;
        @include retina-image("../images/icn_menu_01", 26px 18px);
        position: absolute;
        background-position: left top;
        background-repeat: no-repeat;
        text-indent: -9999px;
        overflow: hidden;

        &.open {
            top: 12px;
            right: 14px;
            width: 20px;
            height: 20px;
            @include retina-image("../images/icn_cross_01", 20px 20px);
        }
    }

    &__nav {
        background-color: rgba(31, 42, 104, 0.9);
        display: none;
        li {
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid #fff;
            @include retina-image("../images/icn_arrow_03", 22px 12px);
            background-position: right center;
            background-repeat: no-repeat;

            a {
                padding: 10px 15px;
                display: block;
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.TopLink1 {
    display: none;
}

.Sns {
    &__facebook {
        float: left;
    }
    &__twitter {
        float: left;
        padding-top: 12px;
        margin-left: 15px;
    }
}

.Top {
    display: none;
}

.MainImg {
    width: 100%;
    margin-top: 40px;
}

.Bnr {
    text-align: center;
    padding: 40px 0 0;
    background-color: #fff;

    &__kenpo {
        width: 620px;
    }
}

.Production {
    background-color: #fff;
    padding: 40px;
    text-align: center;

    &__info {
        font-size: 12px;
    }

    &__facebook {
        display: inline-block;
        @include retina-image("../images/icn_fb_01", 30px 30px);
        background-repeat: no-repeat;
        background-position: left top;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 20px 5px;

        a {
            display: block;
            height: 100%;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__twitter {
        display: inline-block;
        @include retina-image("../images/icn_tw_01", 30px 30px);
        background-repeat: no-repeat;
        background-position: left top;
        width: 30px;
        height: 30px;
        text-indent: -9999px;
        overflow: hidden;
        margin: 20px 5px;

        a {
            display: block;
            height: 100%;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__hall {
    }

    &__hallTitle {
        display: inline-block;
        margin: 0 5px;
    }

    &__hallName {
        display: inline-block;
        margin: 0 5px;
        background: url("../images/icn_arrow_01.png") no-repeat left center;
        padding-left: 12px;
    }

    &__maeuri {
        display: none;
    }
}

.Description {
    background-color: #fff;

    &__container {
        background-image: url("../images/bg_okinawa_03_2x.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        padding: 540px 60px 60px;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    &__txt00 {
        @include retina-image("../images/txt_info_01", 335px 75px);
        width: 335px;
        height: 75px;
        text-indent: -9999px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    &__txt01 {
        font-weight: bold;
        text-align: justify;
    }

    &__txt02 {
        font-size: 14px;
        text-align: justify;
    }
}

.Urizun {
    background: url("../images/bg_urizun_01.jpg") no-repeat center center;
    padding: 100px 0;

    &__container {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 60px;
        width: 500px;
        margin: 0 auto;
        color: #fff;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }

    &__haiku {
        font-weight: bold;
        text-align: center;
        padding: 40px 0 20px;
    }

    &__desc {
        text-align: justify;
    }
}

.Story {
    background-color: #fff;

    &__container {
        padding: 60px;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__subTitle {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 40px;
    }

    &__first {
        @include retina-image("../images/img_story_01", 50%, "jpg");
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 60%;
        margin-bottom: 40px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__second {
        @include retina-image("../images/img_story_02", 50%, "jpg");
        background-repeat: no-repeat;
        background-position: left top;
        padding-left: 60%;
        margin-bottom: 40px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__third {
        @include retina-image("../images/img_story_03", 50%, "jpg");
        background-repeat: no-repeat;
        background-position: right top;
        padding-right: 60%;
        margin-bottom: 40px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__fourth {
        @include retina-image("../images/img_story_04", 50%, "jpg");
        background-repeat: no-repeat;
        background-position: left top;
        padding-left: 60%;
        margin-bottom: 40px;

        dt {
            font-weight: bold;
            margin-bottom: 50px;
        }
        dd {
            font-size: 14px;
        }
    }

    &__description {
        font-size: 14px;
    }

    &__author {
        @include retina-image("../images/img_story_05", 160px 160px, "jpg");
        border: 1px solid #ccc;
        padding: 40px 40px 40px 240px;
        background-position: 40px 40px;
        background-repeat: no-repeat;
        margin-top: 30px;

        dt {
            color: #444;
            font-weight: bold;
        }
        dd {
            color: #444;
            font-size: 12px;
        }
    }
}

.Message {

    &__container {
        background-color: #fff;
        padding: 60px;
        margin: 0 auto;
    }
    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    &__txt {
        font-size: 14px;
        text-align: justify;
    }
    &__name {
        font-size: 14px;
        text-align: right;
    }
    &__sns {
        display: none;
    }

    &__author {
        @include retina-image("../images/img_message_03", 160px 160px, "jpg");
        border: 1px solid #ccc;
        padding: 40px 40px 40px 240px;
        background-position: 40px 40px;
        background-repeat: no-repeat;
        margin-top: 30px;

        dt {
            color: #444;
            font-weight: bold;
        }
        dd {
            color: #444;
            font-size: 12px;
        }
    }
}

.Theater {
    background: url("../images/bg_okinawa_01.jpg") no-repeat center -650px;

    &__title {
        font-size: 30px;
        font-weight: bold;
        padding-top: 170px;
        color: #fff;
        text-align: center;
    }
    &__subTitle {
        color: #fff;
        text-align: center;
        padding-bottom: 160px;
    }
    &__whiteArea {
        background-color: #fff;
        padding: 60px 0;
    }
    &__table {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #1e2a69;

        th {
            background-color: #ccc;
            font-size: 12px;
            height: 40px;
            vertical-align: middle;
            border: 1px solid #1e2a69;
        }
        td {
            font-size: 14px;
            color: #1e2a69;
            height: 60px;
            vertical-align: middle;
            border: 1px solid #1e2a69;
            padding: 0 20px;

            &.phone {
                @include retina-image("../images/icn_phone_01", 16px 16px, "png");
                background-position: 20px center;
                background-repeat: no-repeat;
                padding-left: 46px;
            }
            a {
                font-weight: bold;
            }
        }
    }
}

.Footer {
    &__copyright {
        font-size: 10px;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        background-color: #1f2a68;
    }
}
