@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 2.0;
  color: #1f2a68; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #1f2a68; }
  a:hover {
    text-decoration: underline; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.w620px {
  width: 620px; }

.w5em {
  width: 5em; }

.w7em {
  width: 7em; }

.mt5px {
  margin-top: 5px; }

.mt20px {
  margin-top: 20px; }

.mt30px {
  margin-top: 30px; }

.mt40px {
  margin-top: 40px; }

.mt60px {
  margin-top: 60px; }

.pt20px {
  padding-top: 20px; }

.pt40px {
  padding-top: 40px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.txtL {
  text-align: left; }

.txtR {
  text-align: right; }

.txtBold {
  font-weight: bold; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf:before, .cf:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

.Bg02 {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../images/bg_ripple_01.png");
  background-color: #1f2a68;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .Bg02 {
      background-image: url("../images/bg_ripple_01_2x.png");
      background-size: 340px 490px; } }

.Header {
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .Header__sns {
    background-color: #fff;
    padding: 0 10px 10px; }
  .Header__menu {
    top: 13px;
    right: 14px;
    width: 26px;
    height: 18px;
    background-image: url("../images/icn_menu_01.png");
    position: absolute;
    background-position: left top;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .Header__menu {
        background-image: url("../images/icn_menu_01_2x.png");
        background-size: 26px 18px; } }
    .Header__menu.open {
      top: 12px;
      right: 14px;
      width: 20px;
      height: 20px;
      background-image: url("../images/icn_cross_01.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .Header__menu.open {
          background-image: url("../images/icn_cross_01_2x.png");
          background-size: 20px 20px; } }
  .Header__nav {
    background-color: rgba(31, 42, 104, 0.9);
    display: none; }
    .Header__nav li {
      font-size: 14px;
      font-weight: bold;
      border-bottom: 1px solid #fff;
      background-image: url("../images/icn_arrow_03.png");
      background-position: right center;
      background-repeat: no-repeat; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        .Header__nav li {
          background-image: url("../images/icn_arrow_03_2x.png");
          background-size: 22px 12px; } }
      .Header__nav li a {
        padding: 10px 15px;
        display: block;
        color: #fff; }
        .Header__nav li a:hover {
          text-decoration: none; }

.TopLink1 {
  display: none; }

.Sns__facebook {
  float: left; }
.Sns__twitter {
  float: left;
  padding-top: 10px;
  margin-left: 15px; }

.Top {
  display: none; }

.MainImg {
  width: 100%;
  margin-top: 40px; }

.Bnr {
  text-align: center;
  padding: 40px 0 0;
  background-color: #fff; }
  .Bnr__kenpo {
    width: 620px; }

.Production {
  background-color: #fff;
  padding: 40px;
  text-align: center; }
  .Production__info {
    font-size: 12px; }
  .Production__facebook {
    display: inline-block;
    background-image: url("../images/icn_fb_01.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 20px 5px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .Production__facebook {
        background-image: url("../images/icn_fb_01_2x.png");
        background-size: 30px 30px; } }
    .Production__facebook a {
      display: block;
      height: 100%; }
    .Production__facebook:hover {
      opacity: 0.5; }
  .Production__twitter {
    display: inline-block;
    background-image: url("../images/icn_tw_01.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 20px 5px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .Production__twitter {
        background-image: url("../images/icn_tw_01_2x.png");
        background-size: 30px 30px; } }
    .Production__twitter a {
      display: block;
      height: 100%; }
    .Production__twitter:hover {
      opacity: 0.5; }
  .Production__hallTitle {
    display: inline-block;
    margin: 0 5px; }
  .Production__hallName {
    display: inline-block;
    margin: 0 5px;
    background: url("../images/icn_arrow_01.png") no-repeat left center;
    padding-left: 12px; }
  .Production__maeuri {
    display: none; }

.Description {
  background-color: #fff; }
  .Description__container {
    background-image: url("../images/bg_okinawa_03_2x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    padding: 540px 60px 60px; }
  .Description__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 60px; }
  .Description__txt00 {
    background-image: url("../images/txt_info_01.png");
    width: 335px;
    height: 75px;
    text-indent: -9999px;
    overflow: hidden;
    margin-bottom: 20px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .Description__txt00 {
        background-image: url("../images/txt_info_01_2x.png");
        background-size: 335px 75px; } }
  .Description__txt01 {
    font-weight: bold;
    text-align: justify; }
  .Description__txt02 {
    font-size: 14px;
    text-align: justify; }

.Urizun {
  background: url("../images/bg_urizun_01.jpg") no-repeat center center;
  padding: 100px 0; }
  .Urizun__container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 60px;
    width: 500px;
    margin: 0 auto;
    color: #fff; }
  .Urizun__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .Urizun__haiku {
    font-weight: bold;
    text-align: center;
    padding: 40px 0 20px; }
  .Urizun__haikuSp {
    display: none; }
  .Urizun__desc {
    text-align: justify; }

.Story {
  background-color: #fff; }
  .Story__container {
    padding: 60px; }
  .Story__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px; }
  .Story__subTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px; }
  .Story__first {
    background-image: url("../images/img_story_01.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% auto;
    padding-right: 60%;
    margin-bottom: 40px; }
    .Story__first dt {
      font-weight: bold;
      margin-bottom: 50px; }
    .Story__first dd {
      font-size: 14px; }
  .Story__second {
    background-image: url("../images/img_story_02.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% auto;
    padding-left: 60%;
    margin-bottom: 40px; }
    .Story__second dt {
      font-weight: bold;
      margin-bottom: 50px; }
    .Story__second dd {
      font-size: 14px; }
  .Story__third {
    background-image: url("../images/img_story_03.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% auto;
    padding-right: 60%;
    margin-bottom: 40px; }
    .Story__third dt {
      font-weight: bold;
      margin-bottom: 50px; }
    .Story__third dd {
      font-size: 14px; }
  .Story__fourth {
    background-image: url("../images/img_story_04.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50% auto;
    padding-left: 60%;
    margin-bottom: 40px; }
    .Story__fourth dt {
      font-weight: bold;
      margin-bottom: 50px; }
    .Story__fourth dd {
      font-size: 14px; }
  .Story__description {
    font-size: 14px; }
  .Story__author {
    background-image: url("../images/img_story_05.jpg");
    border: 1px solid #ccc;
    padding: 40px 40px 40px 240px;
    background-position: 40px 40px;
    background-repeat: no-repeat;
    margin-top: 30px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .Story__author {
        background-image: url("../images/img_story_05_2x.jpg");
        background-size: 160px 160px; } }
    .Story__author dt {
      color: #444;
      font-weight: bold; }
      .Story__author dt span {
        white-space: nowrap; }
    .Story__author dd {
      color: #444;
      font-size: 12px; }
  .Story__authorNamePc {
    display: none; }
  .Story__authorNameSp {
    margin-bottom: 10px; }

.Message__container {
  background-color: #fff;
  padding: 60px;
  margin: 0 auto; }
.Message__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px; }
.Message__txt {
  font-size: 14px;
  text-align: justify; }
.Message__name {
  font-size: 14px;
  text-align: right; }
.Message__sns {
  display: none; }
.Message__author {
  background-image: url("../images/img_message_03.jpg");
  border: 1px solid #ccc;
  padding: 40px 40px 40px 240px;
  background-position: 40px 40px;
  background-repeat: no-repeat;
  margin-top: 30px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .Message__author {
      background-image: url("../images/img_message_03_2x.jpg");
      background-size: 160px 160px; } }
  .Message__author dt {
    color: #444;
    font-weight: bold; }
  .Message__author dd {
    color: #444;
    font-size: 12px; }

.Theater {
  display: none; }

.TheaterSp {
  background: url("../images/bg_okinawa_01.jpg") no-repeat center -770px; }
  .TheaterSp__title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #fff;
    text-align: center; }
  .TheaterSp__subTitle {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
  .TheaterSp__whiteArea {
    background-color: #fff;
    padding: 20px; }
  .TheaterSp__table {
    width: 100%;
    margin: 0 auto 30px;
    border: 1px solid #1e2a69; }
    .TheaterSp__table.end {
      background-color: #ccc;
      opacity: 0.5; }
    .TheaterSp__table th {
      background-color: #ccc;
      font-size: 14px;
      height: 45px;
      width: 100px;
      text-align: left;
      padding: 0 15px;
      vertical-align: middle;
      border: 1px solid #1e2a69; }
    .TheaterSp__table td {
      font-size: 14px;
      color: #1e2a69;
      height: 40px;
      vertical-align: middle;
      border: 1px solid #1e2a69;
      padding: 10px 20px; }
      .TheaterSp__table td a {
        font-weight: bold; }
  .TheaterSp__button {
    background-color: #1f2a68;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin: 10px 0; }
    .TheaterSp__button:hover {
      text-decoration: none; }

.Movie {
  background: url("../images/bg_okinawa_01.jpg") no-repeat center -650px; }
  .Movie__title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 170px;
    padding-bottom: 170px;
    color: #fff;
    text-align: center; }
  .Movie__whiteArea {
    background-color: #fff;
    padding: 60px 0;
    min-height: 400px; }
  .Movie__iframe {
    margin: 0 auto;
    display: block;
    width: 80vw;
    height: 60vw; }

.Footer__copyright {
  font-size: 10px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  background-color: #1f2a68; }
